
<body>
    <div class="agile">
            <div class="logo">
                <img src="../../assets/images_main/kore.png"style="width: 100px;" alt="logo"  >
            </div>
            <div class="simp_img">
                <img src="../../assets/image_agile/agile.jpg" class="rounded-circle" style="width:400px ; ">
            </div>
            <h2 class="mt-1 mb-5 pb-1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Agile</h2><br>
            
            <p>------------------------------------------------------------<br>
            Combining the capacity of large  global <br>providerswith the velocity of a tight team , <br>we get more of the right things done, faster</p>
            <!-- {{title}} -->
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary" (click)="btnclick()">Click me</button>
            </div>
    </div>
</body>
