
.agile{
    margin-top: 10%;
    background-color: whitesmoke;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.logo{
    padding-left: 10px;
}
h2{
    color: orange;
    padding-left: 10px;
}
p{
    padding-left: 10px;
    padding-right: 10px;
}
.simp_img{
    padding-left: 10px;
    padding-right: 10px;
}
.simp_img:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.05);
        -webkit-transition: -webkit-transform cubic-bezier(0.4,0,0.2,1) .3s;
        transition: -webkit-transform cubic-bezier(0.4,0,0.2,1) .3s;
        transition: transform cubic-bezier(0.4,0,0.2,1) .3s;
        transition: transform cubic-bezier(0.4,0,0.2,1) .3s,-webkit-transform cubic-bezier(0.4,0,0.2,1) .3s;
    }
