
<body>
    <div class="innovative">
        <div class="logo">
            <img src="../../assets/images_main/kore.png"style="width: 100px;" alt="logo"  >
        </div>
        <div class="simp_img">
            <img src="../../assets/image_innovative/innovative.jpg" class="rounded-circle" style="width:400px ;">
        </div>
        <h2 class="mt-1 mb-5 pb-1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Innovative</h2><br>
        <p>----------------------------------------------------------- <br>
         We explore and consider ideas from every <br>source enabling us to deliver insights <br>leading to new, better outcomes in IoT</p>
         <div class="col-md-12 text-center">
            <button class="btn btn-secondary" >Click me</button>
        </div>
    </div>
</body>