
<body>
    <div class="simplify">
        <div class="logo">
            <img src="../../assets/images_main/kore.png"style="width: 100px;" alt="logo"  >
        </div>
        <div class="simp_img">
            <img src="../../assets/image_simplify/simplify.jpg" class="rounded-circle" style="width:400px ;">
        </div>

        <h2 class="mt-1 mb-5 pb-1" style="font-family: Georgia, 'Times New Roman', Times, serif;">Simplify IoT</h2>
        <p>-----------------------------------------------------------<br>
        KORE simplifies complexity across the<br> IoT ecosysytem, enabling our customers IoT vision <br>and delivering measurable value.</p>
        <div class="col-md-12 text-center">
            <button class="btn btn-secondary" >Click me</button>
        </div>
    </div>
</body>