.container{
   display: flex;
   justify-content: space-evenly;
   flex-direction:row;
   align-items: center;
}
.test1{
    background-color: aqua;
    height: 100px;
    width: 100px;
}
.test2{
    background-color: chartreuse;
    height: 100px;
    width: 100px;
}